@import '../../variables.scss';

.title {
  font-weight: 400 !important;
  font-size: 20px !important;
  color: $black !important;
  padding-bottom: 1em !important;
}

.item {
  margin: 1.5em 0px 1.5em 0px !important;
  color: $fadeBlue !important;
}

