@import '../../variables.scss';

.messageItem {
  padding-left: 2em !important;
}

.contenItem {
  background-color: #f0f2f4;
  border-radius: 8px !important;
  border: 10px !important;
  padding-left: 1em !important;
  padding-right: 0.5em !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  position: relative;
  display: inline-block;
  max-width: 50% !important;
}

.clientName {
  color: #000000 !important;
  font-size: 13px !important;
  min-width: 4em !important;
  min-height: 16px !important;
  height: 14px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 15px);
  display: inline-block !important;
  font-weight: 600;
}

.labelWrapper {
  height: 14px !important;
  width: 14px !important;
  border-radius: 25px !important;
  border: 3px solid !important;
}

.labelTextWrapper {
  padding-left: 1em !important;
  font-weight: normal !important;
}

.leftContent,
.leftImage,
.rightContent,
.labelTextWrapper,
.labelWrapper,
.messageWrapper {
  position: relative;
  display: inline-block;
}

.leftImage,
.rightContent {
  vertical-align: top;
}

.rightContent {
  width: 90% !important;
}

.emXem {
  height: 1em !important;
  width: 1em !important;
}

.relativeInlineBlock {
  position: relative;
  display: inline-block;
}

//for showing the date
.dateWrapper {
  font-size: 11px !important;
  color: #9faabb !important;
}
.timeWrapper {
  font-size: 11px !important;
}

.monthWrapper {
  font-size: 12px !important;
}

.emHeight {
  height: 1em !important;
}

.emXem menu {
  z-index: 1000 !important;
  white-space: nowrap;
}
