.flowingWrapper {
  border-radius: 10px !important;
  border: 1px solid #ff9801 !important;
  padding: 0em 1em 1em 1em !important;
}

.dateWrapper {
  font-size: 11px !important;
  color: #9faabb !important;
}
.timeWrapper {
  font-size: 11px !important;
}

.monthWrapper {
  font-size: 12px !important;
}

.textColor {
  color: #ff9801 !important;
}

.deleteWrapper {
  height: 1em !important;
}

.deleteBtn {
  height: 1em !important;
  border: none !important;
  float: right;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
}
